:root {
  --orange: #ffb884;
  --yellow: #f5df98;
  --white: #fff;
  --grey: #c0d1c2;
  --beige: #fff8d4;
  --black-green: #00353f; 
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #fFF #000000;
    margin: 0;
    padding: 0;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #000000;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ffF;
    border-radius: 10px;
    border: 2px solid #000000;
  }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: 'Dosis', sans-serif;
}

.type-animation {
  font-size: 50px;
  margin-bottom: 100px;

}

.orange {
  filter: invert(100);
  color: var(--orange);
}
